<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>家計簿アプリ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <h1>家計簿アプリ</h1>
    <div class="p-4 m-4 border border-primary rounded">
        <div class="row">
            <dl class="col-6">
                <dt class="h3">日付</dt>
                <dd>{{object.date}}</dd>
            </dl> 
            <dl class="col-6">
                <dt class="h3">概要</dt>
                <dd>{{object.title}}</dd>
            </dl>
        </div> 
        <div class="row">
            <dl class="col-6">
                <dt class="h3">収支</dt>
                <dd>{{object.get_type_display}}</dd>
            </dl> 
            <dl class="col-6">
                <dt class="h3">金額</dt>
                <dd>{{object.amount}}</dd>
            </dl> 
        </div>
        <div class="row">
            <dl class="col-6">
                <dt class="h3">詳細</dt>
                <dd>{{object.memo}}</dd>
            </dl> 
        </div>             
    </div>
    <a href="{% url 'list' %}">一覧に戻る</a>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>


